.pagination {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.pageNumber {
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  background-color: white;
  cursor: pointer;
}
.list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow {
  border: none;
  /* color: #000; */
  background-color: white;
  cursor: pointer;
}
.pagination.dark .pageNumber {
  background-color: #23272f;
  color: #fff;
}
.pagination.dark .arrow {
  color: #fff;
  background-color: #23272f;
}
