/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.conteiner {
  min-height: 100vh;
  padding: 24px;
}

.app.dark .conteiner {
  background-color: #23272f;
}
.app.light .conteiner {
  background-color: #fff;
}
.app.dark p,
.app.dark h3,
.app.dark h1 {
  color: #f6f7f9;
}
.app.light p,
.app.light h3,
.app.light h1 {
  color: #000;
}
